@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none; 
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: #080C0A;
    overflow-x: hidden;
}
section {
    min-height: auto;
    padding: 5rem 5%;
    background-color: rgba(0,0,0,0.5); /* semi-transparente para ver estrellas */
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: blur(10px) drop-shadow(1 0 5px rgba(0,0,0,0.3px));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: #f9eee5;
    display: none;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

span{
    background: linear-gradient(270deg,#dec1bb 10%, #b85746 100%);
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #F7EADF;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    .navbar{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: #080C0A;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #f9eee5 10%,
        #e24a3b 100%
    );
    letter-spacing: 1px;
    cursor: pointer; 
    transition: 0.3s ease-in-out;
    color: white;
    border: none; 
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05);

}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: transparent;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #f9eee5;
}

span{
    color: #b74b4b;
}


.home-content h3{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color:#f9eee5;
}

.home-content p{
    font-size: 1.6rem;
    color: #f9eee5;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #b74b4b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px #b74b4b,
                0 0 50px #b74b4b,
                0 0 100px #b77c4b;
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #E59D8D;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #E59D8D;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #E59D8D;
    box-shadow: 0  0 25px #E59D8D;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03, 1.03, 1);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    color:#e24a3b;
    margin-bottom:2rem;
}
#typed {
  white-space: nowrap;
  overflow: hidden;
}
#typed.blink {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0%, 50%, 100% { border-color: #e24a3b; }
  25%, 75% { border-color: transparent; }
}
.heading{
    text-align: center;
    font-size:  7rem;
    margin: 5rem 0;
}
.services{
    background-color: #251c1a;
    color:#f9eee5
}
.services h2{
    color: #f9eee5;
    font-size: 6rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2b3731;
    height:auto;
    min-height: 300px; /*pa el movil*/
    max-height: 600px; 
    height: auto;      
    padding: 2rem;      
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.5s ease-in-out;
}
.service-box:hover{
    background: #e24a3b;
    color: #ffffff;
    border: 6px solid #e24a3b;
    transform: scale(1.03);
}
.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:5rem ;
}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.service-info i{
    color:#080C0A;
    font-size: 8rem;
    font-weight: 600;
}
.projects {
    background-color: #080C0A;
    color: #f9eee5;
}
.projects .heading {
    color: #f9eee5; /* blanco/crema */
}
.project-card h2 {
    font-size: 1.6rem;
    color: #f9eee5;
}
.project-box {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     justify-items: center;
     gap: 3rem;
     row-gap: 5rem;
}
.project-card {
    color: #f9eee5;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#251c1a;
    border: 2px solid #b74b4b;
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    max-width: 350px;
    box-shadow: 0 0 15px #b74b4b;
    transition: 0.5s ease-in-out;
    
}

.project-card:hover{
    box-shadow: 0 0 25px #b77c4b,
                0 0 50px #e24a3b;
    transform: scale(1.02);
    color:#f9eee5;
}
.project-card img{
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
    color: #f9eee5;
}
.project-card p{
    font-size: 1.6rem;
    color: #f9eee5;
}
.footer{
    background-color: #e24a3b;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 1rem;
}
.footer .social-icons{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer ul li{
    display: inline-block;
    margin: 0 1rem;
}
.footer ul li a{
    color:#dec1bb;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid #e24a3b;
}
.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
@keyframes cursor{
    to{
        border-left: 3px solid #E59D8D;
    }
}

@keyframes words{
    0%, 20%{
        content: "Freelance Illustrator";
    }
    41%, 60%{
        content: "Visual Storyteller";
    }
    61%, 80%{
        content: "Storyboard Artist";
    }
    81%, 100%{
        content: "2D Model Artist";
    }
   
}

@media (max-width:1285px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color:#080C0A;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #080C0A;
        border-bottom: 2px solid #080C0A;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #dec1bb;
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width:56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width:52vw ;
    }
    .contact form{
        flex-direction: column;
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .footer ul li {
        display: block;
        margin: 0.5rem 0;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
@media (max-width: 800px) {
    .services-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        min-height: auto;
    }
    .service-box {
        min-height: auto;
        padding: 2rem;
    }
    .project-card {
        flex-direction: column;
        padding: 3rem 2rem;
    }
}
@media (max-width: 600px) {
 .footer {
        display: flex;
        flex-direction: column;
        min-height: auto;
        align-items: center;
        padding: 2rem 1rem;
    }

    .footer ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .services-container {
        grid-template-columns: 1fr;
        min-height: auto;
        gap: 1.5rem;
    }

    .service-box {
        min-height: auto;
        padding: 1.5rem;
    }

    .project-card img {
        max-width: 80%;
    }
}